

       * {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}



/* ===== Hero Section or Aside ===== */
.feed-tittle{
     margin-left: 220px;
     font-size: x-large;
}

.hero-section {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  margin-left: 220px;
  margin-right: 20px;
}

p {
    word-spacing: 3px;
}

.hero-image {
  width: 500px;
  height: 350px;
  border-radius: 12px;
}

.hero-more a {
  text-decoration: none;
  color: inherit;
}
.hero-more{
    margin-top: 5px;
    padding: 5px 20px;
    font-size: larger;
    color: #000;
    background-color: rgb(130, 177, 216);
}

.hero-more:hover {
  background-color: rgb(90, 140, 180);
  color: #fff;
}



